
<table>
   <a href="{{ url('employees_record.add')}}">Add </a> 
  <thead>
    <tr>
      {% for key, label in header %}
        <th>{{ label }}</th>
      {% endfor %}
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {% if rows is empty %}
      <tr>
        <td colspan="{{ header|length + 1 }}">{{ empty }}</td>
      </tr>
    {% else %}
      {% for row in rows %}
        <tr>
          {% for key, value in row %}
            <td>{{ value }}</td>
          {% endfor %}
          <td>
            <a href="{{ url('employees_record.edit', {'id':row.id}) }}">Edit</a>
            <a href="{{ url('employees_record.delete',{'id':row.id}) }}">Delete</a>
          
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
