
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {% for form_id, form in forms %}
      <a class="nav-item nav-link {% if loop.first %}active{% endif %}" id="nav-{{ form_id }}-tab" data-toggle="tab" href="#nav-{{ form_id }}" role="tab">
        <input type="checkbox" id="checkbox-{{ form_id }}" {% if loop.first %}checked{% endif %}>{{ form_id|replace({'_': ' '}) }}
      </a>
    {% endfor %}
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  {% for form_id, form in forms %}
    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ form_id }}" role="tabpanel">
      {{ form }}
    </div>
  {% endfor %}
</div>